.DS_Store
Thumbs.db

node_modules
dist
coverage
.turbo
.cache
*.tsbuildinfo

*.log
yarn-error.log*
npm-debug.log*
pnpm-debug.log*

.idea
.vscode

.env
.env.local
.env.*.local
worker/.env
worker/.env.local

web/node_modules
web/dist
worker/node_modules
worker/output
